<!DOCTYPE html>
<html>
 <head>
 	<title>Index</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
     <script src="https://code.angularjs.org/1.4.7/angular-resource.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="angular/main.js"></script>
 </head>

 <body ng-app="main" ng-init="tab=1">
     <nav class="navbar navbar-inverse">
         <div class="container">
             <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="#">Sunday School</a>
             </div>

             <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav">
                     <li class="active"><a href="#" ng-click="tab = 1">Home <span class="sr-only">(current)</span></a></li>
                     <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students<span class="caret"></span></a>
                         <ul class="dropdown-menu" role="menu">
                             <li><a href="#" ng-click="tab = 2">New</a></li>
                             <li><a href="#" ng-click="tab = 3">Search</a></li>
                         </ul>
                     </li>
                     <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servants<span class="caret"></span></a>
                         <ul class="dropdown-menu">
                             <li><a href="#" ng-click="tab = 4">New</a></li>
                             <li><a href="#" ng-click="tab = 5">Search</a></li>
                         </ul>
                     </li>
                     <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Class<span class="caret"></span></a>
                         <ul class="dropdown-menu">
                             <li><a href="#">New</a></li>
                             <li><a href="#">Search</a></li>
                             <li><a href="#">Add Attendance</a></li>
                         </ul>
                     </li>
                     <li><a href="#">About</a></li>
                 </ul>
             </div><!-- /.navbar-collapse -->
         </div><!-- /.container-fluid -->
     </nav>

    <div class="container" ng-show="tab == 1">
        <p>Home Page</p>
    </div>

    <div class="container" ng-show="tab == 2" ng-controller="DBCtrl">
        <h1>Add Student</h1>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Middle Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Age"/>
            </div>
            <div class="form-group">
                <select name="" id="" class="form-control">
                    <option value="0">Grade</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="form-group form-inline">
                <input type="text" class="form-control" placeholder="Day of Birth"/>
                <input type="text" class="form-control" placeholder="Month of Birth"/>
                <input type="text" class="form-control" placeholder="Year of birth"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone number"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Emergency Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Emergency Number"/>
            </div>
            <div class="form-group form-inline">
                <input type="text" class="form-control" placeholder="Apt. Number"/>
                <input type="text" class="form-control" placeholder="Street Name"/>
                <input type="text" class="form-control" placeholder="City"/>
                <input type="text" class="form-control" placeholder="Province"/>
                <input type="text" class="form-control" placeholder="Country"/>
                <input type="text" class="form-control" placeholder="Postal Code"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Class Name"/>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="gender" value="m"> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="f"> Female
                </label>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="getData()">Submit</button>
        </form>
    </div>

    <div class="container" ng-show="tab == 3">
        <div class="col-md-12">
            <h1>Search Student</h1>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Middle Name"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Age"/>
                </div>
                <div class="form-group">
                    <select name="" class="form-control">
                        <option value="0">Grade</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="m"> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="f"> Female
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <p>Image</p>
            </div>
            <div class="col=md-6">
                <h1>Full name</h1>

            </div>
        </div>
    </div>

    <div class="container" ng-show="tab == 4">
        <h1>Add Servant</h1>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Middle Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Age"/>
            </div>
            <div class="form-group">
                <select name="" id="" class="form-control">
                    <option value="0">Grade</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="form-group form-inline">
                <input type="text" class="form-control" placeholder="Day of Birth"/>
                <input type="text" class="form-control" placeholder="Month of Birth"/>
                <input type="text" class="form-control" placeholder="Year of birth"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone number"/>
            </div>
            <div class="form-group form-inline">
                <input type="text" class="form-control" placeholder="Apt. Number"/>
                <input type="text" class="form-control" placeholder="Street Name"/>
                <input type="text" class="form-control" placeholder="City"/>
                <input type="text" class="form-control" placeholder="Province"/>
                <input type="text" class="form-control" placeholder="Country"/>
                <input type="text" class="form-control" placeholder="Postal Code"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Class Name"/>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="gender" value="m"> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="f"> Female
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="container" ng-show="tab == 5">
        <h1>Search Servants</h1>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Middle Name"/>
            </div>
            <div class="form-group">
                <select name="" id="" class="form-control">
                    <option value="0">Grade</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Class Name"/>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="gender" value="m"> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="f"> Female
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 </body>

 </html>
