<div class="container" ng-controller="SearchClassCtrl">
    <h1>Search Class</h1>
    <form>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="sclass.name" placeholder="Class Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="sclass.church" placeholder="Church Name">
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="sclass.grade">
                <option value="">--Select Grade--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="searchClass()">Search Class</button>
        </div>
    </form>  
</div>